{% extends 'master.html' %}
{% block content %}


<table class="table center" style="margin-top: 40px;">
  <thead>
    <tr>
      <th scope="col">Medicine id</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Avilable quantity </th>
      <th scope="col">Purchase cost</th>
      <th scope="col">Selling cost</th>
      

    </tr>
  </thead>
  <tbody>
    {% for i in medicine %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.name | upper}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.puchase_cost}}</td>
      <td>{{i.selling_cost}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}