{% extends 'master.html' %}
{% block content %}


<table class="table center" style="margin-top: 40px;">
  <thead>
    <tr>
      <th scope="col">Medicine id</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Avilable Quantity</th>
      <th scope="col">Purchase Cost</th>
      <th scope="col">Selling Cost</th>
      

    </tr>
  </thead>
  <tbody>
    {% for m in medicine %}
    <tr>
      <th scope="row">{{m.id}}</th>
      <td>{{m.name | upper}}</td>
      <td>{{m.quantity}}</td>
      <td>{{m.puchase_cost}}</td>
      <td>{{m.selling_cost}}</td>
     


    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}