{% extends 'master.html' %}
{% block content %}


<table class="table center" style="margin-top: 40px;">
  <thead>
    <tr>
      <th scope="col">Medicine id</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">contact number</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      

    </tr>
  </thead>
  <tbody>
    {% comment %} {% for i in bookings %} {% endcomment %}
    <tr>
      <th scope="row"></th>
      <td>jfsjd</td>
      <td>dfbhdshf</td>
      <td>sdgfb</td>
      <td>sdjfvbdsj</td>
     


    </tr>
    {% comment %} {% endfor %} {% endcomment %}
  </tbody>
</table>

{% endblock %}